.lti-page {
  display: grid;
  height: 100vh;
  /*grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 3fr 1fr;*/
  grid-template-areas:
    "sidebar . . . ."
    "sidebar lti lti lti ."
    "sidebar lti lti lti ."
    "sidebar lti lti lti ."
    "sidebar lti lti lti ."
    "sidebar . . . ."
    "sidebar . . . ."
    "sidebar . . . ."
    "sidebar . . . .";
  gap: 2rem;
}

.lti-config-section {
  /*grid-row-start: 2;
  grid-row-end: span 3;
  grid-column-start: 2;
  grid-column-end: span 1;*/
  background: rgb(245, 242, 242);
  color: rgb(171, 164, 164);
  display: grid;
  align-items: center;
  grid-area: lti;
  grid-template-areas:
    "tabs tabs"
    "config config"
    "config config";
}

.lti-tabs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-weight: 400;
  grid-area: tabs;
}

.lti-tabs > li {
  margin-right: 1rem;
}

.active {
  color: rgb(0, 30, 255);
  font-weight: 900;
}

.invalid {
  border: red solid 1px;
}

.canvasForm {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  grid-area: config;
}

.canvasForm > input {
  margin-left: 2rem;
  width: 15rem;

  border-radius: 4px;
}

.canvasForm > input[type="submit"] {
  align-self: end;
  margin-right: 2rem;
  width: 5rem;
}
