@use '../../../../../styles/colors' as colors;
@import '../../../../../styles/utils.scss';
@import '../../../../../styles/form/form.scss';


.isInvalidCheckBox {
  @extend %isInvalidCheckBox;
}

.delete {
  @extend %delete;
}

.isInvalidField {
  @extend %isInvalidField;
}

.fullRow {
  @extend %fullRow;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  z-index: 50;

  & > div {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }
}

.form {
  @extend %form;
  & > div {
    display: flex;
    flex-direction: column;

    & > div {
      display: flex;

      & > input[type=text] {
        flex-grow: 1;
        //color: #6f7bba;
      }
    }
  }
}

.button {
  @extend %inverse-button;
}
