@use '../../../../styles/colors' as colors;
@import '../../../../styles/utils.scss';
@import '../../../../styles/form/form';

.isInvalidField {
  @extend %isInvalidField;
}

.button {
  @extend %inverse-button;
}

.overlay {
  @extend %overlay;
}

.form {
  @extend %form;
  background-color: colors.$base-white;
  padding: 1rem;
  grid-template-columns: 6fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 1rem;
  justify-content: center;

  & > .field {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

.delete {
  @extend %delete;

  &:hover {
    cursor: pointer;
  }
}

.cardsContainer {
  @extend %cardsContainer;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / 3;
  align-items: center;
  border: 0.1rem black solid;
}

.card {
  @extend %card;
  max-height: 33%;
}
