@use '../../styles/colors' as colors;
@import '../../styles/utils';
@import '../../styles/animations/animations';

.card {
  @extend %card;

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px colors.$hover-card;
  }
}

.cardsContainer {
  @extend %cardsContainer;
  flex-wrap: wrap;
}

.inProgress {
  @extend %assignmentsInProgress;
}
