@use '../../../styles/colors' as colors;
@import '../../../styles/utils';

.hangmanContainer {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  gap: 1rem;
  //background-color: colors.$base-green;
  padding: 1rem;
  border-radius: 2rem;
}

.wordToGuess {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: x-large;

  & > .letter {
    border-bottom: 0.1rem solid black;
    min-width: 2rem;
    text-align: center;
  }
}

.show {
  visibility: visible;
}

.doNotShow {
  visibility: hidden;
}

.red {
  color: red;
}

.green {
  color: green;
}

.clue {
  width: 100%;
  display: flex;
  font-size: x-large;
  color: colors.$dark-blue;
  font-weight: bold;
}

.scoreSection {
  display: flex;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  gap: 1rem;
  color: rgb(64, 127, 191);
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}
