@use '../../styles/colors' as colors;
@import '../../styles/utils';


.card {
  @extend %card;
  width: 50%;

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px colors.$hover-card;
  }
}

.cardsContainer {
  @extend %cardsContainer;
  flex-direction: column;
  align-items: center;
}
