@use "../../../../styles/colors";

.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #202124;
  color: white;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: bold;
  justify-content: center;
  align-self: center;
  justify-self: center;

  &:not([disabled]):hover {
    background-color: white;
    color: black;
  }

  &:disabled {
    background-color: gray;
  }
}

.keyboard {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}
