$base-white: rgb(255, 255, 255);
$base-blue: #cee1f1;
$dark-blue: #0374b5;
$base-black: rgb(0, 0, 0);
$main-color: #edddd4;
$base-green: #1aacb6;
$dark-green: #283d3b;
$base-red: #c44536;
$dark-red: #772e25;
$hover-card: #00000044;
