@use '../../styles/colors.scss' as colors;

.main_sidebar {
  grid-area: sidebar;
  background: colors.$base_yellow;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.child {
  background: colors.$base-green;
  min-height: 4rem;
  border-radius: 3px;
  color: white;
  height: 20%;

  & > div {
    padding: 1rem;
  }
}
