@use '../../../../../styles/colors' as colors;
@import '../../../../../styles/utils.scss';

.isInvalidCheckBox {
  @extend %isInvalidCheckBox;
}

.delete {
  @extend %delete;
}

.isInvalidField {
  @extend %isInvalidField;
}

.modal {
  position: absolute;
  background-color: #ffffff;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 50rem;

  & > div {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.question {
  grid-column: 1 / 3;
  display: flex;
}

.option {
  & > div {
    display: flex;

    & > input[type=text] {
      flex-grow: 1;
    }
  }
}


.form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  & > div {
    display: flex;
    flex-direction: column;
  }

  background-color: #ffffff;
  width: 100%;
  height: 100%;

  & > textarea:focus, input:focus {
    outline: none;
  }

  & > input[type=submit] {
    width: 100px;
    grid-column: 2 / 3;
    justify-self: end;
    background-color: white;
    border-radius: 0.3rem;

    &:hover {
      background-color: colors.$base-blue;
    }

  }
}
