@import '../../../styles/utils';

.cardsContainer {
  @extend %cardsContainer;
  flex-wrap: wrap;
}

.card {
  @extend %card;

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #d03131;
    color: white;
    background-color: #d03131;
    border-color: #d03131;
  }
}
