@use '../../../styles/colors' as colors;

.main_sidebar {
  grid-column-start: 1;
  grid-row: 1 / 6;
  background: colors.$base-green;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.child {
  background: colors.$dark-green;
  min-height: 4rem;
  border-radius: 3px;
  color: colors.$base-white;
  height: 20%;
  width: 100%;
  text-align: center;

  & > div, a {
    padding: 1rem;
    display: flex;
  }
}

.centered-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
