@use '../../../styles/colors' as colors;
@import '../../../styles/utils';
@import '../../../styles/animations/animations';

.card {
  @extend %card;
  padding: 0;
  border: 0;

  &:hover {
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px colors.$hover-card;
  }

  & a div {
    padding: 1rem;
  }
}

.cardsContainer {
  @extend %cardsContainer;
  flex-wrap: wrap;
}

.inProgress {
  @extend %assignmentsInProgress;
}

.unclickable {
  pointer-events: none;
}

.disabledCard {
  background-color: #aaa3a3;
  color: white;
}

.button {
  @extend %inverse-button;
}

.container {
  @extend %container;
}
