@use '../../styles/colors' as colors;

.lti_config_section {
  background: colors.$base-white;
  color: rgb(171, 164, 164);
  display: grid;
  align-items: center;
  grid-template-areas:
    'tabs tabs'
    'config config'
    'config config';
  min-height: 20rem;
}

.lti_tabs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-weight: 400;
  grid-area: tabs;

  & > li {
    margin-right: 1rem;
  }
}

.active {
  color: rgb(0, 30, 255);
  font-weight: 900;
}

.invalid {
  border: red solid 1px;
}

.canvas_form {
  min-height: 100%;
  display: grid;
  list-style: none;
  grid-area: config;
  grid-template-columns: 1fr 1fr;

  & > div {
    margin: 1rem;
    border-radius: 4px;

    label {
      color: #bcbcd4;
      font-weight: bold;
    }

    input {
      width: 100%;
    }
  }
}
