@use '../../styles/colors' as colors;

.lti_config_section {
  background: colors.$base-white;
  color: rgb(171, 164, 164);
  display: grid;
  align-items: center;
  grid-template-areas:
    'tabs tabs'
    'config config'
    'config config';
}

.lti_tabs {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  font-weight: 400;
  grid-area: tabs;

  & > li {
    margin-right: 1rem;
  }
}

.active {
  color: rgb(0, 30, 255);
  font-weight: 900;
}

.invalid {
  border: red solid 1px;
}

.canvas_form {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  grid-area: config;

  & > input {
    margin-left: 2rem;
    width: 15rem;
    border-radius: 4px;
  }

  & > input[type='submit'] {
    align-self: end;
    margin-right: 2rem;
    width: 5rem;
  }
}
