@use '../../../styles/colors' as colors;
@import '../../../styles/utils';
@import '../../../styles/form/form';

.isInvalidField {
  @extend %isInvalidField;
}

.button {
  @extend %inverse-button;
}

.atTheEnd {
  grid-column: 3 / 4;
  justify-self: center;
}

.overlay {
  @extend %overlay;
}

.fullWidth {
  width: 100%;
}

.form {
  @extend %form;
  background-color: colors.$base-white;
  padding: 1rem;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  margin: 1rem;
  justify-content: center;

  & > .field {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

.delete {
  @extend %delete;

  &:hover {
    cursor: pointer;
  }
}

.cardsContainer {
  @extend %cardsContainer;
  justify-content: center;
  flex-wrap: wrap;
  grid-column: 1 / 4;
  align-items: center;
  border: 0.1rem black solid;
}

.card {
  @extend %card;
  max-height: 33%;
}
